.input{
    position: relative  ;
    width: 300px;
    left: 55%;
    top: -20%;
   

}

li{
    list-style: none;
    padding: 10px;
    top: 400%;

}
ul{
    margin-left: 20%;
    position: relative;
    width: 300px;
    
}
h1{

    margin-top: 6%;
    position: relative;
    font-size: 1.625rem;
    left: 66%;
    top: 1em;
}


.capa1{
   
    width: 900px;
    border: 1px solid white;
    margin-top: 4%;
    border-radius: 20px;
    height: 80%;
    margin-left: 19%;
    position: relative;
}