.inputs{
    position: relative  ;
    width: 300px;
    left: 55%;
    top: -65%;
   

}

li{
    list-style: none;
    padding: 26px;
    top: 400%;
    margin-left: 57px;
}
ul{
    margin-left: 20%;
    position: relative;
    width: 350px;
    top: 5%;
}
h1{

    margin-top: -2%;
    position: relative;
    font-size: 1.625rem;
    left: 63%;
    top: 1em;
}


.capa1{
   
    width: 900px;
    border: 1px solid white;
    margin-top: 4%;
    border-radius: 20px;
    height: 80%;
    margin-left: 19%;
    position: relative;
}
.botones{
    place-items: center;
    position: relative;
    top: -60%;
    display: grid;
    left: 20%;

}