<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="capa1">
    <h1>Crear Cuenta</h1>
    
    <ul>
      <li>Usuario 
      </li>
      
      <li>
        Nombre de usuario
      </li>
      <li>
        Contraseña
      </li>
      <li>
        Celular
      </li>
      <li>
        Email
      </li>
    </ul>
    <div class="inputs">
      <ion-input label-placement="floating" fill="solid" placeholder="Ingrese su usuario" class="input"></ion-input><br>
      <ion-input label-placement="floating" fill="solid" placeholder="Contraseña" class="input"></ion-input><br>
      <ion-input label-placement="floating" fill="solid" placeholder="Contraseña" class="input"></ion-input><br>
      <ion-input label-placement="floating" fill="solid" placeholder="Contraseña" class="input"></ion-input><br>
      <ion-input label-placement="floating" fill="solid" placeholder="Contraseña" class="input"></ion-input><br>
    </div>
    <div class="botones">
      <ion-button (click)="irlogin()">Registrar</ion-button>
      <h4 (click)="irlogin()">Ya posee Cuenta? inicie sesion</h4>
    </div>
    
</div>
  <ion-header collapse="condense">
    
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>
</ion-content>
