<ion-content [fullscreen]="true">
  <div id="container_login">
    <div id="block1_1">
      <div id="block1_1_2">
        <ion-img src="https://ionicframework.com/docs/img/demos/card-media.png" style="image-size: cover;">
        </ion-img>
      </div>
      <div id="block1_1_3">
        <h2 style="font-family: Geneva, Verdana, sans-serif; text-align: center; font-weight: bold; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);">ServiExpress</h2>
      </div>
    </div>

    <div id="block1_2">
      <h1 style="font-family: Geneva, Verdana, sans-serif; text-align: center; font-weight: bold; margin-top: 40px">Bienvenido</h1>
      <p style="font-family: Geneva, Verdana, sans-serif; text-align: center;">Ingrese los datos para iniciar sesion</p>
      <br>
      <br>
      <div class="inputs">
        <ion-col size="7">
          <ion-input style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);" label="ID empleado" label-placement="floating" fill="outline" placeholder="Ingrese id del empleado"></ion-input>
          <br>
          <br>
          <br>
          <ion-input style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);" label="Contraseña" type="password" label-placement="floating" fill="outline" placeholder="Ingresa contraseña"></ion-input>
        </ion-col>
        <br>
        <br>
        <br>
        <div id="boton">
          <ion-button style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);" routerLink="/menu-empleados">Iniciar sesión</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>




