<ion-content [fullscreen]="true">
  <div id="container_login">
    <div id="block1_1">
      <div id="block1_1_2">
        <img class="img" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        
      </div>
      <div id="block1_1_3">
        <h2 class="nombreemp">ServiExpress</h2>
      </div>
    </div>


    <div id="block1_2">
      <h1 class="Bienvenido">Bienvenido</h1>
      <p class="subtitulo">Ingrese los datos para iniciar sesion</p>
      <br>
      <br>
      <div class="inputs">
        <ion-col size="7">
          <ion-input class="inputdatos"  label="Nombre de usuario" label-placement="floating" fill="outline" placeholder="Ingresa Nombre de usuario"></ion-input>
          <br>
          <br>
          <br>
          <ion-input class="inputdatos" type="password" label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresa contraseña"></ion-input>
        </ion-col>
       
        <div id="boton">
          <ion-button class="inputdatos" routerLink="/menu-empleados">Iniciar sesión</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>




